@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 400px;
}

.btn-group button {
  width: 50%;
  padding: 10px 24px;
}

.square {
  background-color: #1d1d1d;
  box-shadow: 0 0 2px #000;
  height: 16px;
  width: 16px;
  margin: 2px;
  transition: 1.5s ease;
}

.square:hover {
  transition-duration: 0s;
}

h3 {
  color: white;
}

#red {
  background-image: linear-gradient(
    to right,
    #ff0000,
    #ff4c4c,
    #ff7f7f,
    #ffb2b2,
    #ffcccc
  );
}

#blue {
  background-image: linear-gradient(
    to right,
    #b0e2ff,
    #05edff,
    #3299cc,
    #2e37fe,
    #236b8e
  );
}

#grey {
  background-image: linear-gradient(
    to right,
    #f8f8f8,
    #e0e0e0,
    #b0b0b0,
    #888888,
    #202020
  );
}

#allColors {
  background-image: linear-gradient(
    to right,
    #2ecc71,
    #3498db,
    #8e44ad,
    #e74c3c,
    #e67e22
  );
}
